/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.tmdb-logo img {
    max-width: 100px;
    height: auto;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Search bar styles */
.search-bar {
    display: flex;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Main content styles */


.container {
    display: flex;
    height: fit-content;
    
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.movie {
 
    height: 350px;
    width: 200px;
    font-family: "Source Sans Pro",Arial,sans-serif;
    list-style-type: none;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 10px
}

.movie a {
    height: 50px;
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.movie p {
    padding-left: 5px;
}
.movie img {
    width: 100%;
    height: 280px;
    border-radius: 20px 20px 0 0;
}
.movie:hover{
    transform:scale(1.05)
}
/* Side bar content styles */

#sidebar {
    flex: 0 0 250px; 
    background-color: #333;
    color: white;
    padding: 20px;
    min-height: 100vh;
    
}

.filter {
    position: fixed;
}

#genre {
    text-align: center;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    padding: 4px 12px;
    font-size: .9em;
    margin-right: 6px;
    margin-top: 8px;
    list-style-type: none;

}

#genre:hover {
    background-color: antiquewhite;
    color: #333;
    cursor: pointer;
}
/* Footer styles */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#movie-results {
    padding: 10px;
    padding-bottom: 50px;
    height: fit-content;
    position: relative;
}

.movie-details-div{
    position: absolute;
    height: fit-content;
    width: 80%;
    background-color: lightgray;
    top: 10%;
    left: 10%;
    border-radius: 10px;

    display: flex;
    gap: 20px;
    padding:20px;

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

}

.movie-details-div img{
    width: 30%;
}

.movie-info-div{
    width: 70%;
}

.outer-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



